    <!--Footer for md-->
    <footer class="">
      <div
        class="hidden md:block items-center max-w-screen-2xl justify-between bg-sky-500 px-4 mt-8"
      >
        <ul
          class="flex items-center mx-auto p-4 m-auto gap-[4vw]  py-4 px-4 justify-between"
        >
          <li>
            <img
              src="/images/MoH Logo.png"
              alt="Footer Logo"
              class="w-auto h-12"
            />
            <a href="health.go.ke" class="text-white"
              >https://www.health.go.ke</a
            >
          </li>

          <li class="">
            <a
              href="helpandsupport.js"
              class="text-white rounded-lg transition-colors duration-300"
              >Help and support</a
            >
          </li>

          <li>
            <a
              href="termsandcondition.js"
              class="text-white rounded-lg transition-colors duration-300"
              >Terms and Conditions</a
            >
          </li>
          <center>
            <li class="">
              <img
                src="/images/Revamp_SHIELD_V.png"
                alt="Footer Logo"
                class="w-auto h-12 inline"
              />
              <h1 class="text-white">
                Surveillance Health Information Exchange and Linkage Data
              </h1>
            </li>
          </center>
        </ul>
      </div>
    </footer>
    <!--footer for mobile-->
    <footer>
      <center>
        <div
          class="md:hidden bg-sky-500 mt-2 justify-between max-w-screen-2xl py-8 w-auto"
        >
          <ul
            class="mx-auto p-4 m-auto gap-[4vw]  py-4 px-4 justify-between"
          >
            <li>
              <img
                src="/images/MoH Logo.png"
                alt="Footer Logo"
                class="w-auto h-12"
              />
            </li>

            <li class="py-2 text-white">
              <a href="health.go.ke">https://www.health.go.ke</a>
            </li>
            <li class="mt-4  flex flex-col md:flex-row">
              <a
                href="helpandsupport.js"
                class="rounded-lg text-white transition-colors duration-300"
                >Help and support</a
              >

              <a
                href="termsandcondition.js"
                class="rounded-lg text-white transition-colors duration-300"
                >Terms and Conditions</a
              >
            </li>

            <li class="mt-8 md:mt-0">
              <img
                src="/images/Revamp_SHIELD_V.png"
                alt="Footer Logo"
                class="w-auto h-12 inline"
              />
              <h1 class="text-white">
                Surveillance Health Information Exchange and Linkage Data
              </h1>
            </li>
          </ul>
        </div>
      </center>
    </footer>
    <div class="flex items-center justify-center">
      <p class="ml-2 mr-2 p-2">
        Copyright &copy; 2024 Division of Disease Surveillance and Response, All
        Rights Reserved
      </p>
    </div>