<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset password</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <form
      class="bg-white p-8 rounded-lg shadow-md"
      action="/users/reset-password/<%= token %>"
      method="POST"
    >
      <h1 class="text-xl font-bold mb-4">Reset Your Password</h1>
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700"
          >Email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          id="email"
          required
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm"
        />
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-gray-700"
          >New Password</label
        >
        <input
          type="password"
          id="password"
          name="password"
          id="password"
          required
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm"
        />
      </div>
      <button
        type="submit"
        class="mt-4 px-4 py-2 ng-blue-500 text-white rounded hover:bg-blue-700"
      >
        Reset Password
      </button>
    </form>
  </body>
</html>
