<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Books</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1>Search users</h1>
    <form action="/users/search" method="POST">
        <input type="text" name="searchTerm" placeholder="Enter user's name" required>
        <button type="submit">Search</button>
    </form>
</body>
</html>
